procesamiento_video.js
package-lock.json
node_modules/
frames/
frames2/
video.mp4
video3.mp4
server_envio.js
schema.sql
.env
funciones_sql.js
funcion_ffmpeg.js
funciones.js
image.png
videoV2.mp4
videoV3.mp4
pruebaVod.mp4
videonuevo.mp4
views/preview.ejs
video8jul.mp4
video8jul2.mp4
video6ago.mp4
frogberto.mp4