procesamiento_video.js
package-lock.json
node_modules/
frames/
frames2/
public/vids/*
!public/vids/.gitkeep
public/frames/*
!public/frames/.gitkeep
video.mp4
video3.mp4
server_envio.js
schema.sql
.env
funcion_ffmpeg.js
funciones.js
image.png
videoV2.mp4
videoV3.mp4
pruebaVod.mp4
videonuevo.mp4
views/preview.ejs
video8jul.mp4
video8jul2.mp4
video6ago.mp4
frogberto.mp4
Frogberto2.mp4
index.html