/*:root {}*/

body{
    margin: 30px;
    overflow: hidden;
    background: #ff8b00;
}

span{
    float: right;
    font-family: Helvetica;
    font-size:xx-large;
}


#spanpag{
    float: right;
    font-family: Helvetica;
    font-size:xx-large;
}

#spantot{
    float: right;
    font-family: Helvetica;
    font-size:xx-large;
}

.indice{background-color: #ffc60b ;
    padding: 15px;}
.indice > a{margin: 8px;
    margin: auto; width: 95%;padding: 10px;
    font-family: Helvetica;
    color: #444444;
    text-decoration: none;
}

.indice > a:hover{font-weight: 1000;
}

.lienzoyherra{
  display: flex;
  justify-content:center;
  margin-top: 15px;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tools .color-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
}

.tools .button{
    align-self: center;
    width: 100px;
    height: 40px;
}


#canvas{
    /*box-shadow: -3px 2px 9px 6px black;*/
    
    border: #444444;
    border-style: solid;
    cursor: pointer;
    /*position: absolute;*/
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.undoredo{
    display: flex;
    justify-content: right;
    margin-right: 19.5%;

}

.undoredo > button{
    width: 100px;
    height: 70px;
    font-family: Helvetica;
    background-color: #ffc60b;
}

video{
    border: #444444;
    border-style: solid;
    background-color: #feffdb;
}