/*:root {}*/

body{
    margin: 0px;
    padding: 30px;
    overflow: hidden;
    background: rgba(255, 166, 0, 0.882);
}

.tools {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.tools .color-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
}

.tools .button{
    align-self: center;
    width: 100px;
    height: 40px;
}


canvas{
    box-shadow: -3px 2px 9px 6px black;
    cursor: pointer;
    /*position: absolute;*/
}